<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Department of Secret Information
            </h1>
            <h2 class="subtitle">
                Breakout Room 2 Federal Branch
            </h2>
        </div>
    </div>
</section>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            DSI
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>

            <a class="navbar-item" href="userdoc">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Secrets
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/level/1">
                        Level 1
                    </a>
                    <a class="navbar-item" href="/level/2">
                        Level 2
                    </a>
                    <a class="navbar-item" href="/level/3">
                        Level 3
                    </a>

                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                </div>
            </div>
        </div>
    </div>
</nav>

<form id="addmat" style="margin-left: 10px;">
    <p>Title</p><input type="text" id="title" placeholder="Title"><br>
    <p>Body</p><textarea type="text" rows="3" cols="80" id="body" placeholder="Body">Body</textarea><br>
    <p>Clearance</p><input type="text" id="clearance" placeholder="Clearance"><br>
    <p>Position</p><input type="text" id="position" placeholder="Position"><br>
    <button id="addbtn" type="submit">Submit</button>
</form>

<footer class="footer">
  <div class="content has-text-centered">
    <p> All Information on this website is classified as <strong>Top Secret</strong> and anyone viewing it agrees to keep it secret.</p>
    <p>Willfully leaking any information on this page is a federal crime and punishable by a minimun <strong>100 years</strong> in Prison and a <strong>$1,000,000,000</strong>  fine.
    </p>
  </div>
</footer>
<script type="text/javascript" src="/js/add.js"></script>