<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Department of Secret Information
            </h1>
            <h2 class="subtitle">
                Breakout Room 2 Federal Branch
            </h2>
        </div>
    </div>
</section>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            DSI
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>

            <a class="navbar-item" href="userdoc">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Secrets
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/level/1">
                        Level 1
                    </a>
                    <a class="navbar-item" href="/level/2">
                        Level 2
                    </a>
                    <a class="navbar-item" href="/level/3">
                        Level 3
                    </a>

                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" href="/logout">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
</nav>

{{!-- <form id="addmat">
    <input id="title" placeholder="Title">Title</input>
    <input id="body" placeholder="Body">Body</input>
    <input id="clearance" placeholder="Clearance">Clearance</input>
    <input id="position" placeholder="Position">Position</input>
    <button id="addbtn" type="submit">Submit</button>
</form> --}}
<form>

<div class="field">
  <div class="control">
    <input id="title" class="input is-light" type="text" placeholder="Title">
  </div>c
</div>
<div class="field">
  <div class="control">
    <input id="body" class="input is-light" type="text" placeholder="Body">
  </div>
</div>
<div class="field">
  <div class="control">
    <input id="clearance" class="input is-light" type="number" placeholder="Clearance">
  </div>
</div>
<div class="field">
  <div class="control">
    <input id="position" class="input is-light" type="text" placeholder="True or False">
  </div>
</div>
<button id="addbtn" type="submit">Submit</button>
</form>
<footer class="footer">
    <div class="content has-text-centered">
        <p> All Information on this website is classified as <strong>Top Secret</strong> and anyone viewing it agrees to
            keep it secret.</p>
        <p>Willfully leaking any information on this page is a federal crime and punishable by a minimun <strong>100
                years</strong> in Prison and a <strong>$1,000,000,000</strong> fine.
        </p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/add.js"></script>