 <section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Department of Secret Information
      </h1>
      <h2 class="subtitle">
        Breakout Room 2 Federal Branch
      </h2>
    </div>
  </div>
</section>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      DSI
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Secrets
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/nosecrets">
            Level 1
          </a>
          <a class="navbar-item" href="/nosecrets">
            Level 2
          </a>
          <a class="navbar-item" href="/nosecrets">
            Level 3
          </a>
          
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="card">
  <div class="card-content">
    <p class="title">
      Department of Secret Information
    </p>
    <p class="subtitle">
      This Department is operated by the Federal Government of Breakout Room 2. This Department opperates by the people, for the people. There are no "secrets" here. The government wants you to know that we would never keep secrets from you. its Our belief that honesty is the best policy, and thats what we live by.
    </p>
    <p class="subtitle">Alex Jones, Director of the DSI</p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Return to <a href="/">Homepage</a>
      </span>
    </p>
   
  </footer>
</div>