 <section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Department of Secret Information
      </h1>
      <h2 class="subtitle">
        Breakout Room 2 Federal Branch
      </h2>
    </div>
  </div>
</section>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      DSI
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Secrets
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/level/1">
            Level 1
          </a>
          <a class="navbar-item" href="/level/2">
            Level 2
          </a>
          <a class="navbar-item" href="/level/3">
            Level 3
          </a>
          
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
