<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Department of Secret Information
      </h1>
      <h2 class="subtitle">
        Breakout Room 2 Federal Branch </h2>
    </div>
  </div>
</section>


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      DSI
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="members">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Secrets
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="level1">
            Level 1
          </a>
          <a class="navbar-item" href="level2">
            Level 2
          </a>
          <a class="navbar-item" href="level3">
            Level 3
          </a>
          
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/logout">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container is-centered">
  <div class="notification is-light">
    <p class="title">Secrets: Clearance level 1</p> 
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-verticle is-parent">
    <div class="tile is-child is-box">
      <p class="title">"Snowden confirms no aliens"</p>
      <p>"PSA for all the Area 51 stormers, chemtrail believers and climate change deniers: Edward Snowden has searched the depths of the US intelligence networks and can report the conspiracy theories are not true. As a former employee of the CIA and contractor for the National Security Agency, Snowden had access to some of the nations most closely held secrets. And, like any curious mind with access to the CIAs version of Google might do, he went in search of answers to some of societys most pressing questions. As it turns out, the US government is not aware of any intelligent, extraterrestrial life, he says."</p>
    </div>
    <div class="tile is-child is-box">
      <p class="title">"New Coke"</p>
      <p>"A theory claims that The Coca-Cola Company intentionally changed to an inferior formula with New Coke, with the intent either of driving up demand for the original product or permitting the reintroduction of the original with a new formula using cheaper ingredients. Coca-Cola president Donald Keough rebutted this charge: The truth is, were not that dumb, and were not that smart"</p>
    </div>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-verticle is-parent">
    <div class="tile is-child is-box">
      <p class="title">"Denver Airport"</p>
      <p>"Some theorists believe that Denver International Airport stands above an underground city which serves as a headquarters of the New World Order. Theorists cite the airports unusually large size, its distance from Denver city center, Masonic and alleged Satanic symbols, as well as a set of murals which include depictions of war and death"</p>
    </div>
    <div class="tile is-child is-box">
      <p class="title">"MK Ultra"</p>
      <p>"Genuine American research in the 1950s and 1960s into chemical interrogation and mind-control techniques were followed by many conspiracy theories, like Project Monarch, especially following CIA Director Richard Helms 1973 order to destroy all files related to the project. These theories include the allegation that the mass fatality at Jonestown in 1978 was connected to an MKUltra experiment"</p>
    </div>
  </div>
</div>


<div class="tile is-ancestor">
  <div class="tile is-verticle is-parent">
    <div class="tile is-child is-box">
      <p class="title">"New World Order"</p>
      <p>"The New World Order theory states that a group of international elites controls governments, industry, and media organizations, with the goal of establishing global hegemony. They are alleged to be implicated in most of the major wars of the last two centuries, to carry out secretly staged events, and to deliberately manipulate economies. Organizations alleged to be part of the plot include the Federal Reserve System, the Council on Foreign Relations, Trilateral Commission, the Bilderberg Group, the European Union, the United Nations, the World Bank, the International Monetary Fund, Bohemian Grove, Le Cercle and Yale University society Skull and Bones. The Discordian hoax has resulted in one of the worlds foremost conspiracy theories, which claims that the Illuminati are secretly promoting the posited New World Order. Theorists believe that a wide range of musicians, including Beyoncé and Whitney Houston, have been associated with the group. Prominent theorists include Mark Dice and David Icke."</p>
      
    </div>
  </div>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p> All Information on this website is classified as <strong>Top Secret</strong> and anyone viewing it agrees to keep it secret.</p>
    <p>Willfully leaking any information on this page is a federal crime and punishable by a minimun <strong>100 years</strong> in Prison and a <strong>$1,000,000,000</strong>  fine.
    </p>
  </div>
</footer>