<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Department of Secret Information
      </h1>
      <h2 class="subtitle">
        Breakout Room 2 Federal Branch </h2>
    </div>
  </div>
</section>


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      DSI
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Secrets
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="level1">
            Level 1
          </a>
          <a class="navbar-item" href="level2">
            Level 2
          </a>
          <a class="navbar-item" href="level3">
            Level 3
          </a>
          
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/logout">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container is-centered">
  <div class="notification is-light">
    <p class="title">Secrets: Clearance level 3</p> 
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-verticle is-parent">
    <div class="tile is-child is-box">
      <p class="title">"Alien Contact"</p>
      <p>"Multiple reports of dead cattle found with absent body parts and seemingly drained of blood have emerged worldwide since at least the 1960s. This phenomenon has spawned theories variously concerning aliens and secret government or military experiments. Prominent among such theorists is Linda Moulton Howe, author of Alien Harvest-1989. Many conspiracy theories have drawn inspiration from the writings of ancient astronaut proponent Zecharia Sitchin, who declared that the Anunnaki from Sumerian mythology were actually a race of extraterrestrial beings who came to Earth around 500,000 years ago in order to mine gold. In his 1994 book Humanitys Extraterrestrial Origins: ET Influences on Humankinds Biological and Cultural Evolution, Arthur Horn proposed that the Anunnaki were a race of blood-drinking, shape-shifting alien reptiles. This theory was adapted and elaborated on by British conspiracy theorist David Icke, who maintains that the Bush family, Margaret Thatcher, Bob Hope, and the British Royal Family, among others, are or were such creatures, or have been under their control."</p>
    </div>
    <div class="tile is-child is-box">
      <p class="title">"Illuminati"</p>
      <p>"Conspiracy theories concerning the Illuminati, a short-lived 18th-century Enlightenment-era secret society, appear to have originated in the late 19th century, when some conservatives in Europe came to believe that the group had been responsible for the French Revolution of 1789–1799. Hoaxes about the Illuminati were later spread in the 1960s by a group of American practical jokers known as the Discordians, who, for example, wrote a series of fake letters about the Illuminati to Playboy. Other theorists contend that a variety of historical events were orchestrated by the Illuminati, from the French Revolution, the Battle of Waterloo and the assassination of U.S. President John F. Kennedy, to an alleged communist plot to hasten the New World Order by infiltrating the Hollywood film industry"</p>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="content has-text-centered">
    <p> All Information on this website is classified as <strong>Top Secret</strong> and anyone viewing it agrees to keep it secret.</p>
    <p>Willfully leaking any information on this page is a federal crime and punishable by a minimun <strong>100 years</strong> in Prison and a <strong>$1,000,000,000</strong>  fine.
    </p>
  </div>
</footer>