<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Department of Secret Information
            </h1>
            <h2 class="subtitle">
                Breakout Room 2 Federal Branch </h2>
        </div>
    </div>
</section>


<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            DSI
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="members">
                Home
            </a>

            <a class="navbar-item" href="userdoc">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Secrets
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="level1">
                        Level 1
                    </a>
                    <a class="navbar-item" href="level2">
                        Level 2
                    </a>
                    <a class="navbar-item" href="level3">
                        Level 3
                    </a>

                </div>

                <a class="navbar-item" href="/my-profile">
                    My Profile
                </a>

            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="/logout">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container is-centered">
    <div class="notification is-light">
        <p class="title">Secrets: Clearance level 2</p>
    </div>
</div>

<div class="tile is-ancestor">
    <div class="tile is-verticle is-parent">
        <div class="tile is-child is-box">
            <p class="title">"Flat Earth"</p>
            <p>"Flat Earth theory first emerged in 19th-century England, despite the Earths spherical nature having been
                known since at least the time of Pythagoras. It has in recent years been promoted by American software
                consultant Mark Sargent through the use of YouTube videos. Flat-earther conspiracy theorists hold that
                planet Earth is not a sphere, and that evidence has been faked or suppressed to hide the fact that is
                instead a disc, or a single infinite plane. The conspiracy often implicates NASA. Other claims include
                that GPS devices are rigged to make aircraft pilots wrongly believe they are flying around a globe."</p>
        </div>
        <div class="tile is-child is-box">
            <p class="title">"Outter Space"</p>
            <p>"Scientific space programs are of particular interest to conspiracy theorists. The most prolific theories
                allege that the US Moon landings were staged by NASA in a film studio, with some alleging the
                involvement of director Stanley Kubrick. The Soviet space program has also attracted theories that the
                government concealed evidence of failed flights. A more recent theory, emergent following the activities
                of hacker Gary McKinnon, suggests that a secret program of crewed space fleets exists, supposedly acting
                under the United Nations"</p>
        </div>
    </div>
</div>

<div class="tile is-ancestor">
    <div class="tile is-verticle is-parent">
        <div class="tile is-child is-box">
            <p class="title">"New England Patriots"</p>
            <p> "The New England Patriots have also been involved in numerous conspiracy theories. During their AFC
                Championship 24–20 victory over the Jacksonville Jaguars, several conspiracy theories spread stating
                that the referees helped the Patriots advance to Super Bowl LII. However, sports analyst Stephen A.
                Smith stated the Jaguars were not robbed, but that they had no one to blame but themselves for the loss.
                There were also conspiracy theories regarding the Super Bowl LI matchup between the Patriots and the
                Atlanta Falcons stating that the game was rigged while others said the Falcons made questionable
                play-calls at the end of the game that resulted in them blowing a 28–3 lead"</p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p> All Information on this website is classified as <strong>Top Secret</strong> and anyone viewing it agrees to
            keep it secret.</p>
        <p>Willfully leaking any information on this page is a federal crime and punishable by a minimun <strong>100
                years</strong> in Prison and a <strong>$1,000,000,000</strong> fine.
        </p>
    </div>
</footer>