<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Department of Secret Information
      </h1>
      <h2 class="subtitle">
        Breakout Room 2 Federal Branch
      </h2>
    </div>
  </div>
</section>

<div class="card signUp">
  <div class="card-content">
    <p class="subtitle">
      <strong>Sign Up</strong> 
    </p>
    <form id="signup-form">

      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" class="form-control" id="email-input" required>
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="password-input" required>
      </div>

      <div class="form-group">
        <label for="clearance">Clearance level</label>
        <input type="text" class="form-control" id="clearance-input" required>
        <br>
      </div>
  
      <div class="form-group">
        <button type="submit" id="signUp" class="button is-light">Sign Up</button>
      </div>
      <br>
      <div>
        <p class="subtitle">Already have an Account?</p>
        <a class="button is-light" href="login">Log In</a></p>
      </div>
      
    </form>
  </div>
</div>
<footer class="footer">
  <div class="content has-text-centered">
    <p> All Information on this website is classified as <strong>Top Secret</strong> and anyone viewing it agrees to keep it secret.</p>
    <p>Willfully leaking any information on this page is a federal crime and punishable by a minimun <strong>100 years</strong> in Prison and a <strong>$1,000,000,000</strong>  fine.
    </p>
  </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/signup.js"></script>